@page
@model StardewValleyFishes.Pages.Fishes.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Editing @Model.Fish.Name</h2>

<form method="post">

    <input type="hidden" asp-for="Fish.Id" />
    <div class="form-group">
        <label asp-for="Fish.Name"></label>
        <input asp-for="Fish.Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Fish.Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Fish.Local"></label>
        <select class="form-control" asp-for="Fish.Local"
                asp-items="Model.Locals"></select>
        <span class="text-danger" asp-validation-for="Fish.Local"></span>
    </div>
    <div class="form-group">
        <label asp-for="Fish.Season"></label>
        <select class="form-control" asp-for="Fish.Season"
                asp-items="Model.Seasons"></select>
        <span class="text-danger" asp-validation-for="Fish.Season"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>
